html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(15, 15, 13);
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  color: antiquewhite;
  font-family: Raleway;
}

a {
  color: antiquewhite;
  font-family: Raleway;
  text-decoration: none;
}

a:hover {
  color: rgb(144, 129, 158);
  transition: 200ms;
}

.lateral {
  position: fixed;
  height: 100%;
  width: 15%;
  padding-top: 20%;
  background-color: rgba(0, 0, 0, 0.158);
  transition: 0.5s;
}

.menu {
  color: wheat;
  padding: 50px 0;
  z-index: 10;
}

.menu-item {
  transition: 0.1s;
  padding: 0px 15px;
  z-index: 9;
}

.content {
  padding-left: 15%;
  padding-top: 50px;
}

.inicio {
  width: 95%;
  height: 500px;
  padding-top: 200px;
  text-align: center;
}
#destaqueinicio {
  font-size: 50px;
}

#video-bg {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -9;
  opacity: 0.1;
}

#apresentacao {
  padding-left: 35px;
  padding-bottom: 25px;
}

#apresentacao::before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
  pointer-events: none;
}

.destaque {
  font-size: 40px;
  padding-top: 25px;
}
#banner {
  width: 100%;
  height: 200px;
  background-image: url(./images/author.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  mask-image: url(./images/author.png);
  z-index: 0;
}

#maskbanner {
  mask: url(./images/mask.png);
  -webkit-mask-image: url(./images/mask2.png);
  mask-size: cover;
  max-width: 100%;
  mask-mode: luminance;
  z-index: 0;
}

.textosgenericos {
  padding-top: 20px;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 35px;
}
.textogen {
  padding: 10px 0;
}

.chamadas {
  padding-bottom: 20px;
}
.projetos {
  padding: 20px 0;
  display: grid;
  column-gap: 50px;
  align-items: center;
  grid-auto-columns: 28%;
  text-align: center;
}
.card {
  border: solid 1px #fff;
  border-radius: 5px;
}
.cardtext {
  padding: 15px 0;
}
#card1 {
  grid-column-start: 1;
}
#card2 {
  grid-column-start: 2;
}
#card3 {
  grid-column-start: 3;
}
/* skils cards and grids */
#skills {
  display: grid;
  column-gap: 50px;
  align-items: center;
  grid-auto-columns: 20%;
  text-align: center;
  padding-bottom: 40px;
}
.skill {
  border: solid 1px #fff;
  border-radius: 5px;
}
.skilltext {
  padding: 10px 0;
}
#skill1 {
  grid-column-start: 1;
}
#skill2 {
  grid-column-start: 2;
}
#skill3 {
  grid-column-start: 3;
}
#skill4 {
  grid-column-start: 4;
}

/* skill percentage bar */
.skillpc {
  height: 20px;
  background-color: #fff;
  border-top-right-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: right;
  transition: 2s;
}

@keyframes pc50 {
  0% {
    width: 15%;
  }
  100% {
    width: 50%;
  }
}

@keyframes pc60 {
  0% {
    width: 15%;
  }
  100% {
    width: 60%;
  }
}

@keyframes pc70 {
  0% {
    width: 15%;
  }
  100% {
    width: 70%;
  }
}

@keyframes pc80 {
  0% {
    width: 15%;
  }
  100% {
    width: 80%;
  }
}

/* SKILL 1 Web (html/css) */
#skill1pc {
  width: 80%;
  animation-name: pc80;
  animation-duration: 2s;
}
#skill1pc::after {
  content: "80%";
}
/* SKILL 2 Javascript*/
#skill2pc {
  width: 50%;
  animation-name: pc50;
  animation-duration: 2s;
}
#skill2pc::after {
  content: "50%";
}
/* SKILL 3 PHP */
#skill3pc {
  width: 70%;
  animation-name: pc70;
  animation-duration: 2s;
}
#skill3pc::after {
  content: "70%";
}
/* SKILL 4 Python */
#skill4pc {
  width: 80%;
  animation-name: pc80;
  animation-duration: 2s;
}
#skill4pc::after {
  content: "80%";
}

#secskills {
  display: flex;
  flex-wrap: wrap;
}
.secskill {
  padding: 5px 10px;
  margin: 5px 5px;
  border: solid 1px #fff;
  border-radius: 20px;
}

#tech {
  width: 99.5%;
  height: 500px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgb(38, 38, 38);
  background: -moz-linear-gradient(
    4deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
  background: -webkit-linear-gradient(
    4deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
  background: linear-gradient(
    4deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(45, 45, 45, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626",endColorstr="#2d2d2d",GradientType=1);
  border: solid 1px #1b1b1b;
  border-radius: 10px;
}
#head55 {
  width: 100%;
  height: 35px;
  background: rgb(53, 53, 53);
  background: -moz-linear-gradient(
    4deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(52, 52, 52, 1) 100%
  );
  background: -webkit-linear-gradient(
    4deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(52, 52, 52, 1) 100%
  );
  background: linear-gradient(
    4deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(52, 52, 52, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#353535",endColorstr="#343434",GradientType=1);
  border-bottom: solid 1px #1b1b1b;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
#icons55::after {
  content: "⚪🟢🔴";
  position: absolute;
  top: auto;
  right: 1.5%;
  margin-top: -21px;
}

#headtext55 {
  padding-left: 5px;
  padding-top: 5px;
  font-weight: 300;
}

#latboxlefthead {
  padding-bottom: 15px;
  color: #ededec;
}

#latbox55 {
  padding: 15px 20px;
  display: block;
}

#latboxleft55 {
  padding-top: 20px;
  padding-left: 5%;
  width: 50%;
  float: left;
}

#latboxright55 {
  display: flex;
  width: auto;
  height: 430px;
  flex-direction: row-reverse;
}

#img55 {
  border-radius: 9px;
  scale: 90%;
}
.textbox55 {
}

#cards55 {
  display: grid;
  column-gap: 25px;
  row-gap: 25px;
  align-items: center;
  grid-auto-columns: 40%;
  text-align: center;
}

.textbox55 {
  box-sizing: border-box;
  border: solid 1px #282828;
  border-radius: 5px;
  padding: 20px 15px;
  background: rgb(53, 53, 53);
  background: -moz-linear-gradient(
    4deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(50, 50, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    4deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(50, 50, 50, 1) 100%
  );
  background: linear-gradient(
    4deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(50, 50, 50, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#353535",endColorstr="#323232",GradientType=1);
}

.iconstextbox55 {
  justify-content: center;
}

#card55-1 {
  grid-column-start: 1;
}
#card55-2 {
  grid-column-start: 2;
}
#card55-3 {
  grid-column-start: 3;
}
#card55-6 {
  background: rgb(19, 20, 20);
  background: -moz-linear-gradient(
    180deg,
    rgba(19, 20, 20, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(19, 20, 20, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(19, 20, 20, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#131414",endColorstr="#000000",GradientType=1);
}

#recpay {
  width: 99.5%;
  height: 500px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgb(255, 245, 228);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 245, 228, 1) 0%,
    rgba(255, 238, 225, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 245, 228, 1) 0%,
    rgba(255, 238, 225, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 245, 228, 1) 0%,
    rgba(255, 238, 225, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5e4",endColorstr="#ffeee1",GradientType=1);
  border-radius: 5px;
}

#latboxrp {
  display: block;
  padding: 4% 0;
}
#latboxleftrp {
  float: left;
  width: 39%;
}
#latboxrightrp {
  float: left;
  width: 55%;
}
#latboxextrarp {
  float: left;
  height: 400px;
  width: 3%;
}

.cardsextrasrp {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 25%;
  margin-left: 100%;
}
#cardex1 {
  background-color: #008af0;
}
#cardex2 {
  background-color: #00aaff;
}
#cardex3 {
  background-color: #ff7c00;
}
#cardex4 {
  background-color: #ffad00;
}

.comments {
  font-size: 10pt;
}
#commentsrp {
  color: #131414;
}
.textboxrp {
  padding-right: 120px;
  padding-bottom: 10px;
  font-size: 11pt;
}

.textboxrp::before {
  content: "► ";
  color: #008af0;
}

.resultadosrp {
  font-weight: 600;
}

.separator {
  width: 80%;
  border: solid 1px black;
  margin-bottom: 10px;
}

#headerboxrp {
  color: #000;
  padding-bottom: 15px;
}
.textboxrp {
  color: #000;
}

#imgrecpay {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: 80%;
  padding-top: 10%;
  padding-left: 10%;
}
#ranch {
  width: 99.5%;
  height: 500px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgb(245, 228, 209);
  border-radius: 5px;
}

#latboxranch {
}

#latboxleftranch {
  color: #000;
}
#headerboxranch {
  color: #000;
}
.textboxranch {
  color: #000;
}

.jobcards {
  display: none;
  transition: 2s;
}

.cardactive {
  display: block;
  transition: 2s;
}

/* Media query celulares */
@media screen and (max-width: 600px) {
  html {
    padding: 0;
  }
  .lateral {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 0;
    z-index: 999;
  }

  .menu {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 999;
  }

  .menu-item {
    padding: 0 20px;
  }
  #apresentacao,
  #trabalhos {
    padding: 15px 20px;
  }

  .content {
    padding-left: 0px;
    padding-top: 50px;
    width: 100%;
    padding-bottom: 40px;
  }
  #video-bg {
    width: auto;
  }

  .inicio {
    height: 100%;
    max-height: 600px;
    padding-bottom: 40%;
    padding-top: 30%;
    width: 100%;
  }

  .textosgenericos {
    padding-left: 10px;
  }
  .projetos {
    display: block;
    padding: 10px 10px;
  }
  #card1 {
    margin-bottom: 10px;
  }
  #card2 {
    margin-bottom: 10px;
  }
  #card3 {
    margin-bottom: 10px;
  }

  #skills {
    display: block;
    margin: 0 10px;
  }
  .skill {
    margin: 10px 0;
    margin-right: 5px;
  }
  #secskills {
    flex-direction: row;
    padding-left: 5%;
    width: 90%;
  }
  .secskill {
    flex: 1 1 auto;
    text-align: center;
  }
}
/* 1080p screens */
@media screen and (min-width: 1400px) {
  #apresentacao::before {
    margin-top: -150px;
    height: 150px;
  }
}
